<h3>Weight <span><a href="#/" class="text-muted no-underline">go back</a></span></h3>
<div ng-repeat="room in rooms">
    <div ng-repeat="item in room.byWeight">
        <div>Room: {{room.name}}, Description: {{item.desc}}, Weight: {{item.weight}}</div>
    </div>
</div>

<h3>Fragile</h3>
<div ng-repeat="room in rooms">
    <div ng-repeat="item in room.byFragility">
        <div>Room: {{room.name}}, Description: {{item.desc}}, Weight: {{item.weight}}</div>
    </div>
</div>

<h3>All Others</h3>
<div ng-repeat="room in rooms">
    <div ng-repeat="item in room.allOthers">
        <div>Room: {{room.name}}, Description: {{item.desc}}, Weight: {{item.weight}}</div>
    </div>
</div>